/target/
/bin/
target
.settings
.classpath
.project
.externalToolBuilders
overlays
*.iml
.idea
.DS_Store
.metadata
RemoteSystemsTempFiles
logs
Servers
*~
tummy-search-start/src/main/resources/application.yml
.vscode
.idea
*.pyc
